.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--backgroundColor);
	border-top: 1px solid var(--detailsColor);
	box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
	height: 50px;
	font-size: 12px;
}
