.mainContainer {
	display: flex;
	align-items: center;
	position: relative;

	.previous,
	.next {
		&:hover {
			background-color: darkblue;
		}

		@media (max-width: 599px) {
			position: absolute;
			top: auto;
			bottom: 0;
		}
	}
}

.cardsContainer {
	width: 100%;
	min-height: 500px;
	margin: 20px 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
