.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--backgroundColor);
	border-bottom: 1px solid var(--detailsColor);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	height: 50px;
	font-size: 1.25rem;

	> div {
		display: flex;
		align-items: center;
		cursor: pointer;

		.home {
			margin: 0 15px 0 30px;
		}

		.signIn {
			margin: 0 30px 0 15px;
		}
	}
}
