.buttonsContainer {
	margin-bottom: 20px;

	.pageButton {
		font-size: 1rem;
		background-color: var(--backgroundColor);
		color: var(--lettersColor);
		margin: 0 10px;
		border: 1px solid var(--detailsColor);
		padding: 10px 15px;
		cursor: pointer;
	}
}
